# Systemd thin wrapper to run with restarts etc.
# Install/setup:
#   sudo ln -s `pwd`/grol.service /etc/systemd/system
#   sudo systemctl daemon-reload
#   sudo systemctl enable grol
#   sudo systemctl restart grol
#   sudo systemctl status grol
# Monitor the logs using:
#   journalctl -u grol -o cat -f | logc
# (go install fortio.org/logc@latest)
[Unit]
Description=GROL Discord bot

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/grol-discord-bot
ExecStart=/home/ubuntu/go/bin/grol-discord-bot
Restart=always
RestartSec=1
# Security hardening
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=true
ProtectSystem=strict
PrivateDevices=true
# ProtectHome=true
PrivateTmp=true
# Place the DISCORD_BOT_TOKEN= in that file and chmod 400 it.
# Note: should use LoadCredential= instead as this isn't very secure.
EnvironmentFile=/home/ubuntu/grol-discord-bot/.dtoken
Environment=GOMEMLIMIT=1GiB
Environment=DISCORD_BOT_ADMIN=477231908984586240
# Don't let it go too much above the soft limit (newer grol has memory checks too)
MemoryHigh=1.5G
MemoryMax=2G

[Install]
WantedBy=multi-user.target
