# copied from fortio/workflows but simplified to only run on ubuntu-latest
name: go-checks

on:
  workflow_call:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v4
      - name: Setup Go environment
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # pin@v5
        with:
          go-version: '1.24'
          check-latest: true
      - name: Run Vulncheck
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...
      - name: Download linter config
        run: curl -fsS -o .golangci.yml https://raw.githubusercontent.com/fortio/workflows/main/golangci.yml
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # pin@v8
        with:
          version: v2.6.1
      - name: Run tests
        run: |
          go version
          go run . buildinfo || true # to also confirm go toolchain version used
          if make -n test &>/dev/null; then
            echo "Running tests with make test"
            make test
          else
            echo "No Makefile test target, running tests with race detection as default behavior"
            go test -race ./...
          fi
